* {
    box-sizing: border-box;
}

.col {
    float: left;
    /* creates 3 equal cols*/
    width: 33.3333333333%;
    border: 1px solid #cccccc;
    background-color: #f2f2f2;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* mobile layout */

@media screen and (max-width: 600px) {
    .col {
        width: 100%;
    }
}